@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optimize image rendering */
img {
  image-rendering: auto;
  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;
}

/* Enable hardware acceleration for transforms and animations */
.animate-hardware {
  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;
}

/* Reduce layout shifts by setting content-visibility */
.content-optimize {
  content-visibility: auto;
  contain-intrinsic-size: auto 500px;
}

/* It makes the HTML progress bar filling smooth when value change. */
progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

@layer base {
  .btn-gradient {
    @apply !bg-gradient !bg-[length:300%_300%] hover:saturate-[1.2] shadow duration-100 !border-0 !border-transparent !bg-transparent animate-shimmer disabled:!bg-none disabled:!bg-gray-500/30  !text-white;
  }
  .btn {
    @apply !capitalize;
  }
}
